.banner {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.66),
      rgba(20, 20, 20, 0.66)
    ),
    url('../assets/lead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-container {
  min-height: 100vh;
  padding-top: 2vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  padding-left: 4vw;
}

.banner-logo {
  width: 100%;
  max-width: 220px;
}
