@use '../abstracts/mixins' as *;

.reviews {
  padding-top: 5vw;
  padding-right: 3vw;
  padding-bottom: 5vw;
  padding-left: 3vw;

  .col-3.flex img {
    padding-bottom: 2vh;
  }

  h1 {
    margin-top: 6vw;
  }
}

.reviews-wrapper {
  margin-top: 4vw;

  .row {
    margin: 3vw 0;
  }

  img {
    margin-bottom: 2vw;
    width: 100%;
    max-width: 120px;
    object-fit: contain;
  }

  .img-wrapper {
    padding: 1vw;
  }

  p {
    margin-bottom: 2vw;
  }

  .row {
    align-items: flex-start;
  }
}
