$colors: (
  primary: (
    light: hsl(0, 0%, 100%),
    dark: hsl(0, 0%, 0%),
    light-brown: hsl(30, 35%, 92.2%),
    grayish: hsl(0, 0%, 40%),
    dark-grayish: hsl(0, 0%, 20%),
  ),
  secondary: (
    light: hsl(36, 29.4%, 96.7%),
    dark: hsl(30, 25%, 4.7%),
    light-brown: hsl(0, 0%, 80%),
    med-brown: hsl(30, 25%, 21%),
    grayish: hsl(196, 17.2%, 17.1%),
    dark-grayish: hsl(0, 0%, 26.7%),
  ),
);
