$type-scale: (
  sm: (
    scale-1: 0.5625rem,
    scale-2: 0.625rem,
    scale-3: 0.75rem,
    scale-4: 0.875rem,
    scale-5: 1rem,
    scale-6: 1.125rem,
    scale-7: 1.3125rem,
    scale-8: 1.5rem,
    scale-9: 1.75rem,
    scale-10: 2rem,
    scale-11: 2.375rem,
    scale-12: 2.75rem,
    scale-13: 3.125rem,
    scale-14: 3.5rem,
    scale-15: 3.875rem,
    scale-16: 4.25rem,
    scale-17: 4.625rem,
    scale-18: 5rem,
  ),
  md: (
    scale-1: 0.625rem,
    scale-2: 0.75rem,
    scale-3: 0.875rem,
    scale-4: 1rem,
    scale-5: 1.125rem,
    scale-6: 1.25rem,
    scale-7: 1.5rem,
    scale-8: 1.75rem,
    scale-9: 2rem,
    scale-10: 2.5rem,
    scale-11: 3rem,
    scale-12: 3.5rem,
    scale-13: 4rem,
    scale-14: 4.5rem,
    scale-15: 5rem,
    scale-16: 5.5rem,
    scale-17: 6rem,
    scale-18: 6.5rem,
  ),
  lg: (
    scale-1: 0.625rem * 1.25,
    scale-2: 0.75rem * 1.25,
    scale-3: 0.875rem * 1.25,
    scale-4: 1rem * 1.25,
    scale-5: 1.125rem * 1.25,
    scale-6: 1.25rem * 1.25,
    scale-7: 1.25rem * 1.25,
    scale-8: 1.75rem * 1.25,
    scale-9: 2rem * 1.25,
    scale-10: 2.5rem * 1.25,
    scale-11: 3rem * 1.25,
    scale-12: 3.5rem * 1.25,
    scale-13: 4rem * 1.25,
    scale-14: 4.5rem * 1.25,
    scale-15: 5rem * 1.25,
    scale-16: 5.5rem * 1.25,
    scale-17: 6rem * 1.25,
    scale-18: 6.5rem * 1.25,
  ),
  xl: (
    scale-1: 0.625rem * 1.5,
    scale-2: 0.75rem * 1.5,
    scale-3: 0.875rem * 1.5,
    scale-4: 1rem * 1.5,
    scale-5: 1.125rem * 1.5,
    scale-6: 1.25rem * 1.5,
    scale-7: 1.5rem * 1.5,
    scale-8: 1.75rem * 1.5,
    scale-9: 2rem * 1.5,
    scale-10: 2.5rem * 1.5,
    scale-11: 3rem * 1.5,
    scale-12: 3.5rem * 1.5,
    scale-13: 4rem * 1.5,
    scale-14: 4.5rem * 1.5,
    scale-15: 5rem * 1.5,
    scale-16: 5.5rem * 1.5,
    scale-17: 6rem * 1.5,
    scale-18: 6.5rem * 1.5,
  ),
);
